.pizza {
    &_block {
        width: 280px;
        height: 466px;
        background-color: #FFFFFF;
        margin: 5px;

        &__buttom {
            color:#fff;
        }
    }

    &_image {
        background-color: #dddddd;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;

        animation-duration: 4s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }

    &_title {
        width: 280px;
        height: 27px;
        background-color: #dddddd;
        margin-top: 5px;
        margin-bottom: 10px;

        animation-duration: 4s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }

    &_selector {
        background-color: #dddddd;
        width: 280px;
        height: 100px;

        animation-duration: 4s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }

    &_price {
        background-color: #dddddd;
        width: 115px;
        height: 35px;

        animation-duration: 4s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }

    &_button {
        background-color: #dddddd;
        width: 152px;
        height: 45px;

        animation-duration: 4s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }
}

@keyframes slidein {
    0% {
        background: linear-gradient(to right, #dddddd, #cfcfcf);
    }

    50% {
        background: linear-gradient(to right, #cfcfcf, #dddddd);
    }

    100% {
        background: linear-gradient(to right, #dddddd, #cfcfcf);
    }
}